body {
    background-color: pink;
}

@media screen and (min-width: 992px) {

    .content {
        min-width: 992px;
        max-width: 1400px;
        width: auto;
        background-color: #FFFFFF;
        margin: 10px auto;
        padding: 10px;
    }

    .tblock {
        background-color: aquamarine;
        height: 200px;
    }

    .tblock__header {
        font-size: 2.5em;
        font-family: sans-serif;
        font-weight: bold;
    }

    .article {
        position: relative;
    }

    .article__description {
        position: absolute;
        bottom: 0;
        width: calc(100% - 40px);
        background: rgba(0, 0, 0, 0.7);
        height: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .article__background {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .article__header {
        color: #FFFFFF;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2em;
        line-height: 2.5em;
        max-height: 2.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .article__text {
        color: #FFFFFF;
        font-family: sans-serif;
    }

    .article__image {
       width: 100%;
    }

    .article_small {
        background: chocolate;
        height: 400px;
        width: 300px;
        font-size: 13px;
    }

    .block-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .block-list__item {

    }

    .empty-line {
        height: 20px;
    }
}
